* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

p {
    font-size: 1em;
    color:#3F2E27;
}

span {
    color: #ff622a;
    font-weight: 700 ;
}

details{
    font-size: 1em;
    color:#3F2E27;


}

details[open]{
    text-align: center;
}

details[open]>p {
    font-size: 0.8em;
    font-style: italic;
    padding-top: 0.5em;
}

/*CSS Header */
header{
    font-family: 'Roboto Condensed' , sans-serif;
    display: flex; 
    width: 100%;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 700;
}

.nav-media{
    display: none;
}
.nav-container{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #FF9A75;
    padding-top: 0.2em;
    
}

.logo-container{
    padding-left: 1.1em;
    display: flex;
    align-items: center;
}

#logo{
    height: 2.2em;
    transition: transform .5s ease-in-out;
}

#logo:hover {
    transform: rotate(1080deg);
}


nav{
    width: 100%;
    display: flex;
    padding-inline-end: 2em;
    justify-content: flex-end;
    align-items: center;

}

#back-index{
    display: none;
}
nav a:link {
    color:#ffe6d5ff !important;
    text-decoration: none;
}

nav a:visited{
    color: #ffe6d5ff;
    text-decoration: none;
}


.menu-list{
    display: flex;
    list-style: none;
}

.menu-list li  {
    text-decoration: none;
    color: #ffe6d5ff;
    padding-left: 1em;
    transition: transform .2s;

}


.menu-list li:hover{
    transform:scale(1.1);

}

#toggle{
    display: none;
}

label{
    color: #fae8e5;
    padding-left: 0.2em;
    font-size: 2em;
    display: none;
}

        /*Image du titre*/
.title-container{
    display: flex;
    padding-top: 4em;
    padding-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: #FF9A75;
    width: 100%;

}

.title-img{
    height: 250px; 
    width: auto;
}

        /*CSS header media phone*/
@media screen and (max-width: 800px){
    label{
        display: flex;
        align-self: flex-start;

    }
    .logo-container{
        display: none;
    }

    .menu-list{
        display: none;
    }

    .menu-list li{
        display: flex;
    }

    nav{
        justify-content: flex-start;
    }

    #toggle:checked + .menu-list, #back-index{
        display: flex;
        flex-direction: column;
        line-height: 2.2em;
    }

    .title-img{
        width: 80%;
        height: auto;
    }
}




/* CSS CARD BODY*/ 

.card-container{
    padding: 3em;
    display:flex ; 
    width: 100%;
    flex-flow: wrap;
    justify-content: space-around;
}



.card-index{
    display: flex;
    padding: 1.2em;
    height: auto;
    width: 30%;
    border-radius: 10%;
    background-color: #ffe6d5ff;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    text-align: justify;
}

.card-index ul, li{
    list-style: none;
    align-self: flex-start;
    color: #3F2E27;
}

h3{
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    color:#ff622a;
    transition: transform .2s;
    padding: 1em 0 1em 0;
}
.card-index a{
    text-align: center;
    color:#ff622a;
    transition: transform .2s;
    padding: 1em 0 1em 0;
    text-decoration: none;

}



.card-index a:hover{
    transform: scale(1.1);
}

.card-index,#card-youtube a:link{
    text-decoration: none;
    color: #ff622a;
}

.card-index,#card-youtube a:visited{
    text-decoration: none;
    color: #ff622a;
}

.card-index >p {
    padding: 0.6em 0 0 0 ;
}


.img-card{
    padding: 1.5em;
    max-width: 14em;
    max-height: 14em;
}

.map{
    padding: 1.5em;
    max-width: 20em;
    max-height: 20em;
    border-radius: 10%;
}
#card-sum-up{
    display: flex;
    padding: 1.2em;
    height: auto;
    width: 60%;
    border-radius: 10%;
    background-color: #ffe6d5ff;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    text-align: justify;
}

#card-youtube{
    display: flex;
    padding: 1.2em;
    height: auto;
    width: 30%;
    border-radius: 10%;
    background-color: #ffe6d5ff;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    text-align: justify;
}

#vidéo{
    width: 100%;
    border-radius: 10%;
    border-style: hidden;
}

.list-intodiv li {
    list-style-type: disc;
    color: #3F2E27;
    margin-bottom: 0.6em;
}

#cafeine{
    width: 100%;
}

table{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color:#3F2E27;
    line-height: 1.5em;
}
th{
    text-align: center;
    padding:0.5em;
}

#colname{
    font-weight: 700;
    text-align: center;
    padding:0.6em;
}

tr.cat-tab{
    color: #ff622a;
    font-weight: 700 ;
}

@media screen and (max-width: 800px){
    .card-container{
        flex-direction: column;
        display:flex ; 
        width: 100%;
        flex-flow: wrap;
        justify-content: space-around;
        padding: 1.2em 0.5em 1.2em 0.5em;
    }
    .card-index, #card-youtube, #card-sum-up{
        width: 100%;
        margin-bottom: 3em;
    }
}

.legend{
    font-style: italic;
    font-size: 0.8em;
    padding-top: 0.8em;
    color: #3F2E27;

}
/*CSS footer */
footer{
    display: inline-flex;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../Images/footer-bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.disc-container{
    display: flex;
    padding: 1.5em;
    height: 90%;
    border-radius: 10%;
    flex-flow: column wrap;
    width: 40%;
    text-align: justify;
}  

 h4,p .disc-container{
    color: #ffe6d5ff;
}

#disclaimer{
    text-align: justify;
    color: #ffe6d5ff;
    font-size: small;
}

.contact-container{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-weight: 400;
    align-items:center;
}  

.contact-container p, h4{
    color: #ffe6d5ff;
    margin-bottom: 0.5em;
}

.mailto{
    text-align: center;
    color:#ffe6d5ff;
    text-decoration: none;
    font-size: 1em;
    transition: transform .3s;  
}

.mailto :hover{
    transform: scale(1.1);
}

.mailto a:link{
    color:#fae8e5;
    text-decoration: none;
}

.mailto a:visited{
    color: #ffe6d5ff; 
    text-decoration: none;
}

.logo-container-footer{
    display: flex;
    align-self: center;
    margin-bottom: 1.2em;

}

#logo-footer{
    width: 5em;

}

.logo-uni-container{
    display: flex;
    align-self: center;
}

.img-uni{

    width: 5em;
    border-radius: 10%;
}

.footer-media{
    display: none;

}

/* FOOTER MEDIA CCSS */
@media screen and (max-width: 800px){
    footer{
        display: flex;
        flex-direction: column;

    }
    .disc-container{
        display: none;
    }
    .logo-uni-container{
        align-self: center;
        margin: 1.2em;
    }
    .contact-container{
    align-self: center;
    align-items: center;
    }
}