* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;

    margin: 0;
}

p {
    font-size: 1.2em;
}

h3:hover {
    transform: scale(1.1);
}

/*CSS Header */
header{
    display: flex; 
    width: 100%;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 700;
}

.nav-container{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #EF2D56;
    padding-top: 0.2em;
    
}

.logo-container{
    padding-left: 1.1em;
    display: flex;
    align-items: center;
}

#logo{
    height: 2.2em;
    transition: transform .5s ease-in-out;
}

#logo:hover {
    transform: rotate(1080deg);
}



nav{

    padding-top: 0.8em;
    width: 100%;
    display: flex;
    padding-inline-end: 2em;
    justify-content: flex-end;

}

nav a:link {
    color:#fae8e5 !important;
    text-decoration: none;
}

nav a:visited{
    color: #fae8e5;
    text-decoration: none;
}


.menu-list{
    display: flex;
    list-style: none;
}

.menu-list li {
    text-decoration: none;
    color: #fae8e5;
    padding-left: 1em;
    transition: transform .2s;

}


.menu-list li:hover{
    transform:scale(1.1);

}



/*Image du titre*/
.title-container{
    display: flex;
    padding-top: 4em;
    padding-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: #EF2D56;
    width: 100%;

}
.title-img{
    height: 250px; 
    z-index: 1;

}

/* CSS CARD BODY*/ 
.card-container{
    padding: 3em;
    display:flex; 
    width: 100%;
    justify-content: space-around;
}

.card-index{
    display: flex;
    height: 30em;
    width: 25%;
    border-radius: 10%;
    background-color: #fae8e5;
}


/*CSS footer */
footer{
    padding-bottom: 0.5em;
    display: flex;
    height: 10em;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("../Images/footer-bg.png");
    justify-content: space-around;
    align-items: flex-end;
}


.footer-container{
    display: flex;
    padding: 1.5em;
    width: 30%;
    height: 90%;
    background-color: #EF2D56;    
    opacity: 65%;
    border-radius: 10%;
}  

}

.info-container{
    opacity: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
 
}


.mailto{
    text-align: center;
    color:#fae8e5 !important;
    text-decoration: none;
    font-size: 1em;
  
}

.mailto :hover{
}

.mailto a:link{

}

.mailto a:visited{
    color: rgb(229, 249, 250);
    text-decoration: none;
}

.logo-RB-container{

}
#logo-footer{


}

.disclaimer-container{

}
#disclaimer{


}
.logo-uni-container{

    
}

.img-uni{

}

.map-container{


